.table-lg td, .table-lg th{ padding:.5rem !important }
.table tr:hover{ background:#f9fafc }

.view-balance{ font-size:1.2rem; font-weight:bold; border:#ddd 1px solid; border-radius:30px; padding:3px 20px }

.custon-table tr>td{padding: .6rem .2rem; }
.custon-table tr>td:first-child{ padding-left:1rem }
.custon-table tr>td:last-child{ padding-right:1rem }

.space-between{justify-content: space-between; }

.button-none{ padding:0; border:none; background:none }

.note{
	width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container{ width:100% !important }
.select2-container--default .select2-selection--single {
    border: .0625rem solid #e7eaf3 !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important; }
.select2-container--open .select2-dropdown--below{ margin-top:0 }
.select2-container--default .select2-results__option{ padding:.5rem .2rem }
.select2-dropdown { border: 1px solid #e7eaf3 !important;}
    .select2-container--default .select2-search--dropdown .select2-search__field {
    padding-left: .5rem !important;
}

.cell-actions{ 
  position: relative; /* quan trọng: làm "anchor" cho absolute */
}

.edit-button{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  display: none;
}

.mg-0{ margin:0 !important }

.table tr:hover .edit-button{ display:block; }

.avatar-xs {
    width: 1.3rem;
    height: 1.3rem;
}

.table tr td .form-control{ height: calc(.6em + 1.21875rem) !important; padding: 0 .5rem; }