.table-lg td, .table-lg th{ padding:.7rem !important }
.table tr:hover{ background:#f9fafc }

.view-balance{ font-size:1.2rem; font-weight:bold; border:#ddd 1px solid; border-radius:30px; padding:3px 20px }

.custon-table tr>td{padding: .6rem .2rem; }
.custon-table tr>td:first-child{ padding-left:1rem }
.custon-table tr>td:last-child{ padding-right:1rem }

.space-between{justify-content: space-between; }

.button-none{ padding:0; border:none; background:none }

.note{
	width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}