.account{ min-height:60vh }
.account button.login{ margin:auto; margin-top:20% }

.row-btn{ display:flex;     justify-content: space-around; }
.row-btn button{ border:1px solid; padding:20px 50px; font-weight:bold; background-color:#f5f5f5 }
.row-btn button:hover{ background:var(--main-color); color:#fff }

