.container{ max-width:100% !important }
.account{ min-height:60vh }
.account button.login{ margin:auto; margin-top:20% }

.row-btn{ display:flex;         flex-direction: column;  }
.row-btn button{ border:1px solid #f5f5f5; padding:10px 20px; font-weight:bold; background-color:#f5f5f5;     margin-bottom: 1rem; }
.row-btn button:hover{ background:var(--main-color); color:#fff }

.users{ display:flex; align-items: center; gap: 15px; border:1px solid #ddd; border-radius:5px; margin-bottom:1rem; padding:10px; position:relative; }
.users button{ position:absolute; right:0; bottom:0; background:none; border:none; color:#999; background:#f5f5f5 }
.users img{ border-radius:100%; width:96px; height:96px; }
.users h4{ font-size:1rem; font-weight:bold; }
.users p{ margin-bottom: 3px; font-size:.8rem }

.input-group{ display:flex; align-items: center; margin-bottom:.5rem }
.form-control{ border:1px solid #ddd; padding:9px 10px }
button[type=submit]{ background: var(--main-color); color:#fff; border:none; border-radius:5px; padding:10px 15px; }
.required{ color:red }

.flex{ display:flex; }
.flex .del{ background:#c10505 ;color:#fff }
.flex .dupple{ background: #05a5c1; color:#fff }


/* Container switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px; 
}

/* Ẩn checkbox mặc định */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Thanh trượt */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Nút tròn */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Khi bật */
input:checked + .slider {
  background-color: #4CAF50;
}

/* Khi bật nút tròn chạy sang phải */
input:checked + .slider:before {
  transform: translateX(24px);
}

/* Bo góc toggle */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

td {
    vertical-align: middle; font-size: .9rem;
}


.thongke li div{ display:flex;     justify-content: space-between; }
.thongke li div span{ font-size:1rem }
.thongke li div span{}
.thongke li div span{}
.thongke p{ font-size:.8rem }
.thongke h4{ font-size:1.5rem; border-bottom:1px solid; margin-bottom:2rem }

.button-search{ width:auto; color:#fff; font-weight:bold; }
.button-search:hover{ color:#fff }
.space-between{ justify-content: space-between; align-items: center; }

small{ font-size:.8rem }

.news-sec{ padding-top:50px }


.table-responsive-mobile {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* mượt trên iOS */
    display: block;
}

.table-responsive-mobile table th,
.table-responsive-mobile table td {
    white-space: nowrap !important; /* Không xuống dòng */
}

.table-responsive-mobile table {
    width: max-content; /* mở rộng đủ nội dung để cuộn ngang */
    min-width: 100%;
}

.menu-account{ display:none; }

@media (max-width: 480px) {
  .news-sec {padding-top: 20px;}
  .menu-account{ display:block; position:fixed; bottom:0; z-index:9999; background:var(--main-color); width:100%   }
  .menu-account *{ color:#fff }
  .menu-account ul{ display:flex; align-items: center; justify-content: space-around; }
  .menu-account ul li{ padding:7px }
  .menu-account ul li a{ padding:8px }






}