.custom-file-upload {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px dashed #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
    transition: background-color 0.3s ease;
}